body {
}
 h1 {color:lightblue;font-family:Gautami;text-decoration:line-through; text-transform:capitalize}
    h2{color:aqua}
    h3{color:#BBFF00; text-decoration:overline}
.st1 {color:#f7d7dc;text-decoration:dashed; text-transform:capitalize
}
h5.st2{color:green; background-color:aqua}